<html>
{% include "base.html.twig" %}
<head>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
<h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>

<div x-data="{ open: false }">
    <button @click="open = ! open">Toggle</button>

    <div class="transition ease-out duration-100" x-show="open" @click.outside="open = false">Contents...</div>
</div>

<p
        class="bg-gradient-to-r from-primary to-indigo-700 bg-clip-text text-transparent text-xl font-bold w-content">
    Gradient text
</p>
</body>
</html>