{% set active = "Community" %}
{% include "base.html.twig" with {'active': active} %}
<body class="bg-gray-50">
{% include "components/dashboard_layout.html.twig" with {'active': active} %}
<!-- Left part - Content  -->
<main>


    <div class="p-8">
        <div class="border-b border-gray-200 py-6 pb-10">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900">Community Components</h1>
            <p class="mt-4 text-base text-gray-500">Explore the most recent components contributed by the community!</p>
        </div>
        <div class="w-full flex lg:flex-row flex-col mt-6">
            <div class="lg:w-1/5 w-full flex flex-col gap-5">
                <form id="filters" class="flex flex-row justify-evenly lg:gap-0 lg:justify-start lg:flex-col gap-3 lg:divide-y">
                    <div class="py-10">
                        <fieldset>
                            <legend class="block text-sm font-medium text-gray-900">Framework</legend>
                            <div class="space-y-3 pt-6">
                                <div class="flex items-center">
                                    <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" type="checkbox" name="types[]" id="React" value="1">
                                    <label class="ml-3 text-sm text-gray-600" for="React">React</label>
                                </div>
                                <div class="flex items-center">
                                    <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" type="checkbox" name="types[]" id="Vue" value="2">
                                    <label class="ml-3 text-sm text-gray-600" for="Vue">Vue</label>
                                </div>
                                <div class="flex items-center">
                                    <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" type="checkbox" name="types[]" id="Angular" value="3">
                                    <label class="ml-3 text-sm text-gray-600" for="Angular">Angular</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="py-10 lg:w-[90%]">
                        <fieldset>
                            <legend class="block text-sm font-medium text-gray-900">Price</legend>
                            <div class="space-y-3 pt-6">
                                <div class="flex items-center">
                                    <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" type="checkbox" name="prices[]" id="Free" value="0">
                                    <label class="ml-3 text-sm text-gray-600" for="React">Free</label>
                                </div>
                                <div class="flex items-center">
                                    <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" type="checkbox" name="prices[]" id="Paid" value="0.01">
                                    <label class="ml-3 text-sm text-gray-600" for="Vue">Paid</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div id="nocomponent" class="hidden flex flex-col items-center justify-center w-4/5">
                <h1 class="text-sm font-medium text-gray-900" >No components match your search.</h1>
            </div>
            <div class="lg:w-4/5 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-5 " id="content">

                {% include "components/_content.html.twig" %}
            </div>

        </div>
    </div>
</main>
<script src="{{ asset('js/filters.js') }}"></script>
<script>
    const tabs = document.querySelectorAll(".tab");
    const content = document.querySelectorAll(".tab-content");

    for (let i = 0; i < tabs.length; i++) {
        tabs[i].addEventListener("click", (e) => {
            // Désactive tous les onglets
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("bg-primary-menubg");
                tabs[i].classList.remove("text-primary");
                tabs[i].classList.add("text-gray-500");
                tabs[i].classList.add("hover:text-gray-700");
                tabs[i].classList.remove("active");
                content[i].classList.add("hidden");
            }

            // Active l'onglet cliqué
            e.target.classList.add("bg-primary-menubg");
            e.target.classList.add("text-primary");
            tabs[i].classList.remove("text-gray-500");
            tabs[i].classList.remove("hover:text-gray-700");
            e.target.classList.add("active");
            content[i].classList.remove("hidden");
        });
    }
    const opencloseprofilemenu = () => {
        const usermenu = document.getElementById('usermenu');
        if (usermenu.className.includes('hidden')) {
            usermenu.classList.remove('hidden');
        } else {
            usermenu.classList.add('hidden');
        }
    };
    const openclosesortbymenu = () => {
        const usermenu = document.getElementById('sortbymenu');
        if (usermenu.className.includes('hidden')) {
            usermenu.classList.remove('hidden');
        } else {
            usermenu.classList.add('hidden');
        }
    };
</script>
{% include 'components/flashes.html.twig' %}
</body>

